
@{
    ViewBag.Title = "Blogdetail";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<link rel="stylesheet" href="/Content/css/bootstrap.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="/Content/css/vendor/mmenu/jquery.mmenu.all.css" />
<!-- Menu Responsive -->
<link rel="stylesheet" href="/Content/css/vendor/animate-wow/animate.css">
<!-- Animation WOW -->
<link rel="stylesheet" href="/Content/css/vendor/labelauty/labelauty.css">
<!-- Checkbox form Style -->
<link rel="stylesheet" href="/Content/css/vendor/nouislider/nouislider.min.css">
<!-- Slider Price -->
<link rel="stylesheet" href="/Content/css/vendor/easydropdown/easydropdown.css">
<!-- Select form Style -->
<link rel="stylesheet" href="/Content/css/ui-spinner.css">
<!-- Spinner -->
<link rel="stylesheet" href="/Content/css/menu.css">
<!-- Include Menu stylesheet -->
<!-- Custom Stylesheet -->
<link rel="stylesheet" href="/Content/css/media-query.css">
<!-- Media Query -->
<link rel="stylesheet" href="/Content/css/customizer.css">
<!-- Customizer Color/Background-->
<link rel="stylesheet" href="/Content/css/template/basic.css">
<!-- Loading-->
<link rel="stylesheet" href="/Content/css/template/breadcrumb.css">
@*<link rel="stylesheet" href="/Content/css/template/button.css">*@
@*<link rel="stylesheet" href="/Content/css/template/footer.css">*@
<link rel="stylesheet" href="/Content/css/template/info-box.css">
<link rel="stylesheet" href="/Content/css/template/maps.css">
<link rel="stylesheet" href="/Content/css/template/modal.css">
<link rel="stylesheet" href="/Content/css/template/navbar.css">
<link rel="stylesheet" href="/Content/css/template/object.css">
<link rel="stylesheet" href="/Content/css/template/pagination.css">
<link rel="stylesheet" href="/Content/css/template/searcher.css">
<link rel="stylesheet" href="/Content/css/template/section.css">
@*<link rel="stylesheet" href="/Content/css/template/typography.css">*@
<link rel="stylesheet" href="/Content/css/template/pages/header-page.css">
<link rel="stylesheet" href="/Content/css/template/pages/blog.css">
<section class="header-margin-base" id="header-page">
    <div class="skyline">
        <!--<div data-offset="50" class="p1 parallax"></div>
                  <div data-offset="25" class="p2 parallax"></div>
                  <div data-offset="15" class="p3 parallax"></div>
                  <div data-offset="8"  class="p4 parallax"></div>
                  <span class="cover"></span>-->
        <div class="container header-text">
            <div><h1 class="title">Blog list</h1></div>
            <div><h2 class="sub-title">Lorem ipsum dolor sits adipiscing elit justo</h2></div>
        </div>
    </div>
    <!-- /<div id="breadcrumb">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">User Profile</li>
                    </ol>
                </div>
            </div>#breadcrumb -->
    <span class="cover"></span>
</section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="blog-list blog-detail">
                    <h2 class="title"><a href="#">Making this the first true genator</a></h2>
                    <div class="social">
                        <span class="date">15<span>Mar</span></span>
                        <a href="#"><i class="fa fa-heart-o"></i><span>654</span></a>
                        <a href="#"><i class="fa fa-eye"></i><span>92435</span></a>
                        <a href="#"><i class="fa fa-comments"></i><span>69</span></a>
                    </div>
                    <div class="image">
                        <img src="/Content/images/sample/pages/news/7.jpg" alt="" class="img-responsive" />
                    </div>
                    <h3 class="subtitle">Internet tend to repeat predefined chunks.</h3>
                    <div class="text">
                        Morbi nisl augue, hendrerit vitae posuere id, scelerisque vestibulum orci. Curabitur diam dolor, convallis vitae blandit a, fringilla id massa. In ornare ante diam, eget rutrum libero varius nec. Praesent efficitur velit erat, vel sodales eros faucibus vel. Sed lacus massa, convallis non neque porttitor, porttitor egestas nulla.<br /><br />
                        Nulla aliquet neque tortor, vitae dictum mauris hendrerit quis. Nam nulla purus, sollicitudin vitae leo vitae, mattis pharetra elit. Nulla quis massa laoreet, elementum diam eget, hendrerit risus. Nullam mattis mi ut urna feugiat, sit amet auctor metus malesuada. Mauris commodo sapien leo, eget commodo eros faucibus sit amet.<br /><br />
                        <div role="alert" class="alert with-icon alert-success"><i class="icon fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />Quisque vulputate turpis</div>
                        <em>Fusce finibus odio ac nisl semper, at interdum sapien tristique. Sed velit purus, consequat non tellus eget, viverra facilisis turpis. Aliquam et massa nec tortor vulputate efficitur sed quis metus. Vestibulum et massa vel turpis vehicula elementum. Vestibulum laoreet auctor diam et dictum.</em><br /><br />
                        Mauris gravida feugiat euismod. Etiam rutrum justo sed molestie commodo. Cras auctor posuere metus ut feugiat. Pellentesque lobortis mauris id commodo facilisis. Mauris nec enim diam. Praesent auctor scelerisque arcu sed iaculis. Morbi mattis neque eu justo fringilla scelerisque ut facilisis risus. Proin imperdiet erat tellus, non viverra dui condimentum eget. Nullam at enim id elit semper scelerisque. Etiam lorem ex, semper sed magna sed, molestie interdum ante. Donec blandit nisl mauris, nec placerat ante sodales quis.
                    </div>
                </div><!-- /.blog-list -->
                <div id="comments">
                    <h2 class="title-comment">Comments <span class="total-comment">4</span></h2>
                    <div class="medialist">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/images/sample/person/m1.jpg" alt="Image sample" />
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="comment-line">
                                    <h4 class="media-heading">
                                        Manuel Lawrence
                                        <span class="date-comment">1 February at 22:03</span>
                                        <button class="reply"><i class="fa fa-share-square-o"></i></button>
                                    </h4>
                                    <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>
                                    Aliquam at maximus nibh. Nunc odio dolor, cursus rutrum lorem vel, rutrum faucibus risus. Duis id imperdiet mauris, eget lobortis urna. Donec efficitur, tellus sed dapibus consequat, nulla sapien accumsan ligula, sollicitudin congue est magna non dui. Sed malesuada convallis est, et laoreet sem accumsan at. Ut vestibulum eleifend urna, nec sodales lorem rhoncus quis. Nulla imperdiet mattis nisl sit amet cursus. Nullam malesuada, lorem ac commodo finibus, ipsum eros fermentumet euismod ultricies.
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/images/sample/person/w1.jpg" alt="Image sample" />
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="comment-line">
                                    <h4 class="media-heading">
                                        Ruth Stone
                                        <span class="date-comment">2 February at 22:36</span>
                                        <button class="reply"><i class="fa fa-share-square-o"></i></button>
                                    </h4>
                                    <b>Morbi mattis neque eu justo fringilla</b>
                                    Scelerisque ut facilisis risus. Proin imperdiet erat tellus, non viverra dui condimentum eget. Nullam at enim id elit semper scelerisque. Etiam lorem ex, semper sed magna sed, molestie interdum ante. Donec blandit nisl mauris, nec placerat ante sodales quis.
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"><img class="media-object" src="/Content/images/sample/person/w6.jpg" alt="Image sample" /></a>
                                    </div>
                                    <div class="media-body nested">
                                        <div class="comment-line">
                                            <h4 class="media-heading">
                                                Jean Medina
                                                <span class="date-comment">8 February at 22:40</span>
                                            </h4>
                                            Mauris eu ipsum porta, rhoncus mi eget, vehicula est. Nulla condimentum condimentum dapibus. Nullam at enim id elit semper scelerisque. Etiam lorem ex, semper sed magna sed, molestie interdum ante. Donec blandit nisl mauris, nec placerat ante sodales quis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/images/sample/person/w7.jpg" alt="Image sample" />
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="comment-line">
                                    <h4 class="media-heading">
                                        Margaret Smith
                                        <span class="date-comment">4 February at 16:52</span>
                                        <button class="reply"><i class="fa fa-share-square-o"></i></button>
                                    </h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="title-form"><i class="icon fa fa-comment"></i> Leave a Comment</h3>
                    <form class="form-large grey-color" action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="name">Name</label>
                                <input type="text" placeholder="Name .." name="name" id="name" class="margin-bottom form-control">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="email">Email</label>
                                <input type="text" placeholder="Email .." name="email" id="email" class="margin-bottom form-control">
                            </div>
                            <div class="col-md-12">
                                <label for="text-message">Message</label>
                                <textarea name="text-message" id="text-message" rows="4" class="margin-bottom form-control"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-default" value="Send Comment">
                    </form>
                </div><!-- /. end-comment -->
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="section-title line-style">
                    <h3 class="title">Search Post</h3>
                </div>
                <div class="blog-search">
                    <input type="text" placeholder="Keywords" class="form-control">
                    <button class="button-search" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="section-title line-style">
                    <h3 class="title">Blog Categories</h3>
                </div>
                <ul class="category-list">
                    <li><a href="#">April 2015</a></li>
                    <li class="active"><a href="#">March 2015</a></li>
                    <li><a href="#">February 2015</a></li>
                    <li><a href="#">November 2014</a></li>
                    <li><a href="#">October 2014</a></li>
                    <li><a href="#">September 2014</a></li>
                    <li><a href="#">August 2014</a></li>
                    <li class="has-submenu">
                        <a href="#">2013</a>
                        <ul class="category-list">
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>
                        </ul>
                    </li>
                </ul><!-- /.category-list -->
                <div class="section-title line-style">
                    <h3 class="title">Post Archive</h3>
                </div>
                <ul class="category-list">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Apartments</a></li>
                    <li><a href="#">Design</a></li>
                    <li class="has-submenu">
                        <a href="#">Do it yourself</a>
                        <ul class="category-list">
                            <li><a href="#">Housing</a></li>
                            <li><a href="#">Agency</a></li>
                            <li><a href="#">Apartements</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Interior</a></li>
                    <li><a href="#">Trends</a></li>
                </ul><!-- /.category-list -->
                <div class="section-title line-style">
                    <h3 class="title">Popular Post</h3>
                </div>
                <div class="recent-post">
                    <a class="image image-fill" href="blog-detail.html">
                        <img alt="" src="/Content/images/sample/pages/news/7.jpg">
                    </a><!-- /.image -->
                    <div class="body">
                        <span class="title">Cras varius elementum</span>
                        <span class="date">March 22, 2015 - 5 Comments</span>
                        <div class="text">
                            <p>Lorem ipsum dolor amet donec, collentesque ullamcorper.</p>
                        </div><!-- /.text -->
                        <input type="submit" class="button-read button-read btn btn-default" value="Read now" name="submit" id="submit">
                    </div><!-- /.body -->
                </div><!-- recent-post -->
                <div class="recent-post">
                    <a class="image image-fill" href="blog-detail.html">
                        <img alt="" src="/Content/images/sample/pages/news/8.jpg">
                    </a><!-- /.image -->
                    <div class="body">
                        <span class="title">Ante egestas venenatis</span>
                        <span class="date">March 19, 2015 - 2 Comments</span>
                        <div class="text">
                            <p>Consectetur adipiscing. Quam pellentesque ut fermentum.</p>
                        </div><!-- /.text -->
                        <input type="submit" class="button-read button-read btn btn-default" value="Read now">
                    </div><!-- /.body -->
                </div><!-- recent-post -->
                <div class="section-title line-style">
                    <h3 class="title">Tags</h3>
                </div>
                <div id="filter-box">
                    <a href="#" class="filter">Music <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Recipes <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Landscape <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Graphic Design <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Photography <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Videos <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Wild Life <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Scenery <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">News <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Web Design <i class="fa fa-times"></i></a>
                    <a href="#" class="filter">Models <i class="fa fa-times"></i
></a>
                </div><!-- /.filter-box -->
            </div>
        </div>
    </div>
</section>
<script src="/Content/script/jquery.min.js"></script>		<!-- jQuery	(necessary for Bootstrap's JavaScript plugins) -->
<script src="/Content/script/jquery-ui.min.js"></script>		<!-- jQuery	UI is a	curated	set	of user	interface interactions,	effects, widgets, and themes -->
<script src="/Content/script/bootstrap.min.js"></script>		<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="/Content/script/vendor/mmenu/mmenu.min.all.js"></script>					<!-- Menu Responsive -->

<script src="/Content/script/vendor/labelauty/labelauty.min.js"></script>					<!-- Checkbox Script -->
<script src="/Content/script/vendor/parallax/parallax.min.js"></script>						<!-- Parallax Script -->
<script src="/Content/script/vendor/images-fill/imagesloaded.min.js"></script>			<!-- Loaded	image with ImageFill -->
<script src="/Content/script/vendor/images-fill/imagefill.min.js">
</script>
<script src="/Content/script/vendor/easydropdown/jquery.easydropdown.min.js"></script>	<!-- Select	list Script	-->
<script src="/Content/script/custom.js"></script>	