
@{
    ViewBag.Title = "ViewModel";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}


<div class="content-fluid block_2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="block_menu">
                    <ul class="black_name_bar">
                        <li class="block_name"><a href="">london</a></li>
                        <li class="block_name"><a href="">dubai</a></li>
                        <li class="block_name"><a href="">germany</a></li>
                        <li class="block_name"><a href="">france</a></li>
                        <li class="block_names"><a href="#contact">+$150</a></li>
                        <li class="block_names"><a href="#contact">+$200</a></li>
                        <li class="block_names"><a href="#contact">$300</a></li>
                        <li class="block_names"><a href="#contact">+$500</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-fluid block_block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="details_11">
                    <h1>Model Name</h1>
                </div>
                <div class="details_image_1">
                    <img src="images/image13.jpg">
                </div>
                <div class="details_main_11">
                    <div class="col-xs-12 col-sm-12 col-md-4 details_block_01">
                        <img src="images/image14.jpg">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 details_block_01">
                        <img src="images/image15.jpg">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 details_block_01">
                        <img src="images/image16.jpg">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="details_right_4">
                    <div class="details_14">
                        <div class="category_left_4">
                            <a href=""><i class="fa fa-thumbs-up"></i></a>87
                            <a style="font-size: 16px; margin-left: 115px;" href="detail.html">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="details_right_3 block_details_3">

                    <div class="details_14"><h2>Description</h2></div>
                    <ul>
                        <li>
                            <article>
                                I'm in my early twenties, young but open-minded as well-traveled, cultured, and used to the finest things. While I'm enjoying traveling in style around the world also a university graduate, and prepared to excel on whatever path life will lead me. I love life, lust and naturally, ever so often ,bit of lasciviousness. Laughing and indulging in pleasure are elementary rights to me so as elegance,style and sophistication at the highest level.
                                I'm in my early twenties, young but open-minded as well-traveled, cultured, and used to the finest things. While I'm enjoying traveling in style around the world also a university graduate, and prepared to excel on whatever path life will lead me. I love life, lust and naturally, ever so often ,bit of lasciviousness. Laughing and indulging in pleasure are elementary rights to me so as elegance,style and sophistication at the highest level.
                                I'm in my early twenties, young but open-minded as well-traveled, cultured, and used to the finest things. While I'm enjoying traveling in style around the world also a university graduate, and prepared to excel on whatever path life will lead me. I love life, lust and naturally, ever so often ,bit of lasciviousness. Laughing and indulging in pleasure are elementary rights to me so as elegance,style and sophistication at the highest level.
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="details_right_1">
                    <div class="details_14"><h2>Profile</h2></div>
                    <ul>
                        <li>Name...........<span class="details_span_right">Alice</span></li>
                        <li>Age...........<span class="details_span_right">23</span></li>
                        <li>Nationality...........<span class="details_span_right">E. European</span>  </li>

                        <li>Languages...........<span class="details_span_right">English</span></li>
                        <li>Measurements...........<span class="details_span_right">.32B-22-32</span> </li>
                        <li>Dress Size...........<span class="details_span_right">6</span></li>
                        <li>Height...........<span class="details_span_right">5ft 4in - 162cm</span></li>
                        <li>Hair Colour...........<span class="details_span_right">Blonde</span></li>
                        <li>Eye Colour...........<span class="details_span_right">Green</span></li>
                        <li>Availability...........<span class="details_span_right">11am - 3am</span> </li>
                        <li>Location...........<span class="details_span_right">South Kensington</span> </li>
                        <li>Orientation...........<span class="details_span_right">Bi</span> </li>
                        <li>DUO with...........</li>

                        <li>UK Travel...........<span class="details_span_right">No</span> </li>
                        <li>Worldwide Travel...........<span class="details_span_right">No</span></li>
                        <li>Services...........</li>
                        <p>
                            69, Deep Throat, Domination, Fetish,
                            GFE, OWO, Party Girl, Rimming
                            Receiving, Role Plays, Spanking
                            Giving, Striptease, Tantra, Toys, WS
                        </p>
                        <p><span>All services and prices are provided based on escort's sole discretion</span></p>
                    </ul>
                </div>
                <div class="details_right_2">
                    <div class="details_14"><h2>Incall/Outcall Rates</h2></div>
                    <ul>
                        <li>30 Min...........<span class="details_span_right">£100 / £200</span></li>
                        <li>1 Hour...........<span class="details_span_right">£600 / £800</span></li>
                        <li>2 Hours...........<span class="details_span_right">£1000 / £1100</span></li>
                        <li>Additional Hours...........<span class="details_span_right">£400 / £600</span></li>
                        <li>Dinner Date...........<span class="details_span_right">£--/ £100</span></li>
                        <li>Overnight...........<span class="details_span_right">£3000 / £4000</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>